<div class="cargando_modal" ng-hide="showModal">
	<div>Cargando...</div>
</div>
<div id="modal_usuarios" ng-show="showModal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">&times;</button>
		<div class="fc_7fd0d9 h_Cond fs_16" ng-bind="modalTitle" ng-init="modalTitle='Nuevo Usuario'"></div>
	</div>
	<div class="modal-body">
		<form name="usuarioForm" ng-submit="doUsuarios(usuarioForm, estadoForm)" autocomplete="off" novalidate>
			<div class="overflow mb_10">
				<div class="fc_687a8b h_47_LightC fs_15">Nombre del usuario</div>
				<input type="text" class="fs_15 h_47_LightC input_gris w_100_por"
				ng-model="user.nombre">	
			</div>
			<div class="overflow mb_10">
				<div class="fc_687a8b h_47_LightC fs_15">Correo electrónico</div>
				<input type="text" class="fs_15 h_47_LightC input_gris w_100_por"
				ng-model="user.email_trabajo">	
			</div>
			<div class="overflow mb_10">
				<div class="fc_687a8b h_47_LightC fs_15">Rol asignado</div>
				<select class="fs_15 h_47_LightC input_gris w_100_por"
					ng-model="selectedItem"
					ng-options="rol.id as rol.nombre for rol in roles"
					ng-change="changeSelect()">
					<option value="">Seleccionar un rol</option>
				</select>
			</div>
			<div class="overflow mb_10">
				<div class="fc_687a8b h_47_LightC fs_15">Locales <span class="fs_13">Limita el acceso a locales señalados</span></div>
				<div class="tabla_detalle tabla_modal_usuarios">
					<table class="table table-responsive table-select">
						<tbody class="h_47_LightC fc_687a8b">
							<tr ng-repeat="(key, local) in locales"
								ng-click="changeAcceso(key, local.acceso)">			
								<td class="fc_687a8b fs_15 pl_0">{{local.nombre}}</td>
								<td class="text-right">
									<i class="fa" ng-class="changeCheck(local.acceso)"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="text-center">
				<button type="submit" class="submit">
					<i class="fa fa-check-circle fs_90"></i>
				</button>
			</div>
		</form>
	</div>
</div>