<div ng-include="global.navHead"></div>
<div ng-include="global.navUrl"></div>

<div class="franja_top"></div>
<div class="contenido">

	<div class="container-fluid p_0">
		<div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
			<div class="row">
				<h1 class="fs_33 h_37_ThinC mt_30">
					¿Qué <span class="fc_2bb673 h_47_LightC">Locales</span> contarán con Qmatiq?
				</h1>
				<div class="col-lg-6 col-md-7 mt_10">
					<div class="borde_total">
						<div class="pull-right">
							<button type="button" class="button" data-toggle='modal' data-target="#modal_locales_kioscos" data-dismiss="modal">
								<span class="h_47_LightC fs_15 fc_687a8b agregar">Agregar local</span>
								<i class="fa fa-plus-circle fc_2bb673 fs_23"></i>
							</button>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12">
							
								<table class="table table-responsive table-default table-select">
									<thead class="h_Cond">
										<tr>
											<th class="borde_cabecera_tabla_azul"></th>
											<th class="borde_cabecera_tabla_azul">Grupo de local</th>
											<th class="borde_cabecera_tabla fc_7fd0d9 text-center">Código de kiosco</th>
											<th class="borde_cabecera_tabla fc_7fd0d9 text-center">Ubicación</th>
											<th class="borde_cabecera_tabla"></th>
										</tr>
									</thead>
									<tbody class="h_47_LightC fc_687a8b">
										<tr>											
											<td></td>
											<td class="fs_15">Benavides</td>
											<td class="fs_15 text-center">BEN0001</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Angamos</td>
											<td class="fs_15 text-center">ANG0002</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Javier Prado</td>
											<td class="fs_15 text-center">JAV0003</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">El Polo</td>
											<td class="fs_15 text-center">ELP0004</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Caminos del Inca</td>
											<td class="fs_15 text-center">CAM0005</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Jockey</td>
											<td class="fs_15 text-center">JOC0006</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Camino Real</td>
											<td class="fs_15 text-center">CAM0007</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">Salaverriga</td>
											<td class="fs_15 text-center">SAL0008</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15">28 de Julio</td>
											<td class="fs_15 text-center">28D0009</td>
											<td class="text-center">
												<i class="fc_red fa fa-map-marker mapa"></i>
											</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!--@include('planificacion.modales.locales_kioscos')-->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="franja_bottom"></div>