@font-face {
  font-family: 'HelveticaNeue_37_ThinCond';
  src: url('../fonts/HelveticaNeue_37_ThinCond.eot');
  src: url('../fonts/HelveticaNeue_37_ThinCond.woff') format("woff"), url('../fonts/HelveticaNeue_37_ThinCond.ttf') format("truetype"), url('../fonts/HelveticaNeue_37_ThinCond.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue_47_LightCond';
  src: url('../fonts/HelveticaNeue_47_LightCond.eot');
  src: url('../fonts/HelveticaNeue_47_LightCond.woff') format("woff"), url('../fonts/HelveticaNeue_47_LightCond.ttf') format("truetype"), url('../fonts/HelveticaNeue_47_LightCond.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue_Cond';
  src: url('../fonts/HelveticaNeue_Cond.eot');
  src: url('../fonts/HelveticaNeue_Cond.woff') format("woff"), url('../fonts/HelveticaNeue_Cond.ttf') format("truetype"), url('../fonts/HelveticaNeue_Cond.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}