/* global */

body {
  background-color: #F3F4F8;
  color: #596a7a;
}

a, button {
  cursor: pointer;
  outline: none !important;
}

a {
  text-decoration: none;
  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

.img-responsive {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

.circulo {
  background-color: #95d8b8;
  border-radius: 50%;
  display: table-cell;
  height: 106px;
  vertical-align: middle;
  width: 106px;
  i {
    color: #fff;
  }
}

.circulo_gris {
  background-color: #d8e6e9;
}

.categorias_qmatiq {
  padding-top: 40px;
  a {
    color: #596a7a;
    &:hover, &:focus {
      color: #596a7a;
    }
  }
  h2 a {
    &:hover i, &:focus i {
      color: #95d8b8;
    }
  }
}

.overflow {
  overflow: hidden;
}

.button {
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px 10px 10px 0;
}

.none {
  display: none;
}

.check_disabled {
  padding-right: 2px;
}

.radio_hidden {
  cursor: pointer;
  margin: 0 !important;
  opacity: 0;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.relative{
  position: relative;
}

.inline-block{
  display: inline-block;
}

input[type="file"]{
  position: absolute;
  opacity: 0;
}
/* bordes */
.br_1{
   border-right: 1px solid #e3e6eb;
}

.borde_total {
  background-color: #fff;
  border: 1px solid #e3e6eb;
  overflow: hidden;
}

/* colores */

.fc_ffffff {
  color: #ffffff;
}

.fc_e17777 {
  color: #e17777;
}

.fc_e1ae6c {
  color: #e1ae6c;
}

.fc_3fb8c6 {
  color: #3fb8c6;
}

.fc_2bb673 {
  color: #2bb673;
}

.fc_ed7d7d {
  color: #ed7d7d;
}

.fc_596a7a {
  color: #596a7a;
}

.fc_687a8b {
  color: #687a8b;
}

.fc_4cbdca {
  color: #4cbdca;
}

.fc_7fd0d9 {
  color: #7fd0d9;
}

.fc_red {
  color: #ed7d7d;
}

.fc_8293a3 {
  color: #8293a3;
}

.fc_8dc63f {
  color: #8dc63f;
}

.fc_f7d1d1 {
  color: #f7d1d1;
}

.fc_99a7b5 {
  color: #99a7b5;
}

.fc_97bbcd {
  color: #97bbcd;
}

/* size */

.fs_13 {
  font-size: 13px;
}

.fs_15 {
  font-size: 15px;
}

.fs_16 {
  font-size: 16px;
}

.fs_17 {
  font-size: 17px;
}

.fs_18 {
  font-size: 18px;
}

.fs_19 {
  font-size: 19px;
}

.fs_20 {
  font-size: 20px;
}

.fs_21 {
  font-size: 21px;
}

.fs_23 {
  font-size: 23px;
}

.fs_25 {
  font-size: 25px;
}

.fs_29 {
  font-size: 29px;
}

.fs_32 {
  font-size: 32px;
}

.fs_33 {
  font-size: 33px;
}

.fs_35 {
  font-size: 35px;
}

.fs_45 {
  font-size: 45px;
}

.fs_50 {
  font-size: 50px;
}

.fs_51 {
  font-size: 51px;
}

.fs_55 {
  font-size: 55px;
}

.fs_61 {
  font-size: 61px;
}

.fs_71 {
  font-size: 71px;
}

.fs_90 {
  font-size: 90px;
}

/* fonts */

.h_37_ThinC {
  font-family: 'HelveticaNeue_37_ThinCond';
}

.h_47_LightC {
  font-family: 'HelveticaNeue_47_LightCond';
}

.h_Cond {
  font-family: 'HelveticaNeue_Cond';
}

.h_Thin {
  font-family: 'HelveticaNeue_Thin';
}

.h_Roman {
  font-family: 'HelveticaNeue_Roman';
}

.cursiva {
  font-style: italic;
}

/* size */

.w_15 {
  width: 15px;
}

.w_20 {
  width: 20px;
}

.w_30 {
  width: 30px;
}

.w_35 {
  width: 35px;
}

.w_40 {
  width: 40px;
}

.w_50 {
  width: 50px;
}

.w_55 {
  width: 55px;
}

.w_60 {
  width: 60px;
}

.w_72 {
  width: 72px;
}

.w_82 {
  width: 82px;
}

.w_87 {
  width: 87px;
}

.w_100 {
  width: 100px;
}

.w_120 {
  width: 120px;
}

.w_135 {
  width: 135px;
}

.w_150 {
  width: 150px;
}

.w_157 {
  width: 157px;
}

.w_170 {
  width: 170px;
}

.w_230 {
  width: 230px;
}

.w_270 {
  width: 270px;
}

.w_100_por {
  width: 100%;
}

/* interlineado */

.lh_15 {
  line-height: 15px;
}

.lh_23 {
  line-height: 23px;
}

.lh_71 {
  line-height: 71px;
}

/* margin - padding */
.m_0 {
  margin: 0;
}

.mt_0 {
  margin-top: 0;
}

.mt_3 {
  margin-top: 3px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_7 {
  margin-top: 7px;
}

.mt_10 {
  margin-top: 10px;
}

.mt_13 {
  margin-top: 13px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_26 {
  margin-top: 26px;
}

.mt_30 {
  margin-top: 30px;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mt_m1 {
  margin-top: -1px !important;
}

.ml_5 {
  margin-left: 5px;
}

.ml_10 {
  margin-left: 10px;
}

.ml_m5 {
  margin-left: -5px;
}

.ml_m15 {
  margin-left: -15px;
}

.ml_18 {
  margin-left: 18px;
}

.mt_m15 {
  margin-top: -15px;
}

.mt_m20 {
  margin-top: -20px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_30 {
  margin-right: 30px;
}

.p_0 {
  padding: 0;
}

.pr_0 {
  padding-right: 0;
}

.pr_2 {
  padding-right: 2px;
}

.pr_5 {
  padding-right: 5px;
}

.pr_15 {
  padding-right: 15px;
}

.pr_20{
  padding-right: 20px;
}

.pl_10 {
  padding-left: 10px;
}

.pl_15 {
  padding-left: 15px;
}

.pb_23 {
  padding-bottom: 23px;
}
/* orientacion */
/* Header */

header {
  background-color: #fff;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Menu */

.navbar {
  border: 0;
}

.dropdown:hover{
    background-color: #eeeeee;
}
.dropdown:hover .dropdown-menu{
  display: block !important;
}
.dropdown_name{
  display: block;
  padding: 15px;
}
.dropdown,
.dropdown-menu li {
  padding: 0 !important;
}

.dropdown-toggle {
  color: #3fb8c6 !important;
}

.dropdown-menu a {
  padding: 0;
}

.active_padre{
  > a{
    background-color: #596a7a;
    color: #fff !important;
  }
  ul{
    display: block !important;
  }
}

/* menu profile */

.profile {
  li {
    padding: 14px 5px;
  }
  i {
    color: #8293a3;
  }
}
/* cargando */

.cargando_modal {
  border-radius: 10px;
}

.cargando, .cargando_modal {
  opacity: 0.1;
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.cargando div, .cargando_modal div {
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
}

.cargando div {
  font-size: 80px;
  width: 430px;
  height: 120px;
  margin: -60px 0 0 -215px;
}

.cargando_modal div {
  font-size: 30px;
  width: 165px;
  height: 45px;
  margin: -22.5px 0 0 -82.5px;
}

.cargando_lista{
  opacity: 0.1;
  background-color: #000000;
  height: 100px;
  div{
    color: #ffffff;
    font-size: 30px;
    line-height: 100px;
  }
}
/* Logeo */

.input_blanco {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
}

.fondo_logeo {
  background-color: #384a5e;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.logeo {
  position: absolute;
  width: 260px;
  height: 230px;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -130px;
}

.codigo_autenticidad {
  background-color: #7fd0d9;
}

.btn_logeo {
  margin-top: 0;
  padding: 0 0 0 5px;
  position: absolute;
}

/* Logo */

.logo {
  background-color: #2bb673;
}

/* Menu lateral */

.sidebar {
  background-color: #161d23;
  height: 100%;
  margin-top: 50px;
  position: fixed;
  z-index: 1;
  li > a {
    color: #8293a3;
    height: 46px;
    line-height: 28px;
    width: 50px;
  }
  a {
    &.active, &:hover, &:focus {
      background-color: #596a7a !important;
      color: #fff;
    }
  }
  li:hover > a {
    background-color: #596a7a !important;
    color: #fff;
  }
  ul {
    li ul {
      background-color: #fff;
      border-right: 1px solid #e3e6eb;
      border-top: 1px solid #e3e6eb;
      display: none;
      height: 100%;
      margin-left: 50px;
      position: fixed;
      top: 50px;
      width: 152px;
      z-index: 9;
      li {
        a {
          width: auto;
          color: #596a7a;
          &:hover, &:focus {
            background-color: #7fd0d9 !important;
            color: #4d5d6d;
          }
        }
        &.active a {
          background-color: #7fd0d9 !important;
          color: #4d5d6d;
        }
      }
    }
    > li:hover ul {
      display: block;
      z-index: 99;
    }
  }
}

/* contenido central*/

.franja_top, .franja_bottom {
  position: fixed;
  width: 100%;
}

.franja_top {
  background-color: #e5edf0;
  border-top: 1px solid #e3e6eb;
  margin: 50px 0 0 50px;
  padding-bottom: 7px;
}

.franja_bottom {
  background-color: #4c5d6d;
  bottom: 0;
  height: 18px;
  opacity: 0.8;
  z-index: 2;
}

.contenido {
  background-color: #F3F4F8;
  padding-top: 58px;
}
/* tabla */
.tabla_cabecera{
  position: relative;
}

.tabla_detalle{
  margin-top: -1px;
  overflow-y: auto;
}

.tabla_detalle_usuarios{
  min-height: auto;
  max-height: 380px;
}
/* Formularios */

.agregar {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

.borde_cabecera_tabla {
  border-bottom: 1px solid #e3e6eb !important;
  font-size: 16px;
}

.borde_cabecera_tabla_azul {
  border-bottom: 2px solid #7fd0d9 !important;
  color: #7fd0d9;
  font-size: 16px;
}

.table-select {
  thead th, tbody td {
    vertical-align: middle !important;
  }
  thead th.pl_0, tbody td.pl_0 {
    padding-left: 0 !important;
  }
}

.modal_supervision {
  thead th.pl_0, tbody td.pl_0 {
    padding-left: 0 !important;
  }
}

.table-select tbody tr:hover, .modal_logica tbody tr:hover {
  background-color: #e5edf0;
  cursor: pointer;
}

.table-select tbody tr:hover td, .modal_logica tbody tr:hover td {
  color: #4cbdca;
}

.table-select tbody tr {
  &:hover .none {
    display: block;
  }
  &:last-child:hover td {
    border-bottom: 1px solid #ddd;
  }
  > td {
    &:first-child, &:last-child {
      border-top: 1px solid #fff;
    }
  }
  &:hover > td {
    &:first-child, &:last-child {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }
}

.input_gris {
  background-color: #f3f4f8;
  border: 1px solid #e3e6eb;
  padding: 0 5px;
}

.submit {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.submit_cancel i {
  color: #f7d1d1 !important;
}

.submit i {
  color: #dae4e8;
}

.submit_modal button {
  padding: 0 5px;
}

.submit_search {
  color: #687a8b !important;
  padding-top: 1px;
}

/* Modal */
.modal_delete .modal-dialog{
  /*position: relative;*/
  width: 600px;
  height: 186px;
  top: 50%;
  left: 50%;
  margin: -93px 0 0 -300px;
}

.modal-content,.modal-footer{
  border: 0;
}

.modal-predeterminado .modal-dialog {
  bottom: 0px;
  top: 20px;
}

@media (min-width: 768px) {
  .modal-dialog {
    position: fixed;
    right: 15px;
  }
  .modal-estilo-dialog{
    width: 430px;
  }
}

.modal .modal-body {
  max-height: 572px;
  overflow-y: auto;
}

.modal-dialog table {
  th {
    padding-bottom: 10px;
  }
  tbody tr:first-child td {
    padding-top: 10px !important;
  }
}

.modal-backdrop {
  /*background-color: transparent;*/
}

.modal_roles {
  thead {
    th:first-child {
      width: 182px;
    }
    display: block;
  }
  tbody {
    display: block;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    tr:hover {
      background-color: #e5edf0;
      cursor: pointer;
    }
    td:first-child {
      width: 230px;
    }
  }
  .modal-dialog table {
    th {
      &:first-child {
        padding-right: 0;
      }
      padding: 0 16px 0 0;
    }
    td {
      padding: 0 16px 0 0;
    }
    thead th:last-child {
      padding-right: 0 !important;
    }
    td {
      border: 0 !important;
    }
  }
}

.modal_listas_check{
  table{
    border: 0 ;
    tr{
      &:hover {
        background: transparent !important;
        td{
          border-top: 1px solid #fff !important; 
          border-bottom: 1px solid #fff !important; 
        }
      }
    }
    td{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}
.tabla_modal_usuarios{
  min-height: auto;
  max-height: 200px;
}
/* tabla roles */
.tabla_listas_predeterminadas thead,.tabla_listas_predeterminadas tbody{
  display: block;
}
.tabla_listas_predeterminadas tbody{
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  tr td{
    border-top: 1px solid #ddd;
  }
  tr:first-child td{
    border-top: 0 !important;
  }
  tr:first-child:hover td{
    border-top: 0 !important;
  }
}
/* modal roles */

/* 
    modal criterios
 */

.modal-criterios .modal-dialog {
  top: 133px !important;
}

/* logica de kioscos */

.logica_iconos {
  margin-top: 5px;
  padding-right: 15px;
  width: 50px;
}

.input_logica_kiosco {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
}

/* peticiones de acceso */

.mailto {
  color: #7fd0d9 !important;
}

/* 
    seguridad,
    playlist de youtube
    mensaje de alerta
    modulo de atencion - B
 */

.modal-seguridad .modal-dialog, .modal-playlist-youtube .modal-dialog, .modal-mensaje-alerta .modal-dialog, .modal-atencion-b .modal-dialog {
  top: 83px !important;
}

/* criterios de atencion */

.scrolling_area {
  height: 85px;
  max-height: 85px;
  overflow-y: auto;
}

/* modal logica */

.modal_logica .w_15 {
  padding: 8px 4px !important;
}

/* modal supervision */

.modal_supervision td {
  border: 0;
  padding-bottom: 4px;
  padding-top: 4px !important;
}

/* mensajes de alerta */

.publicaciones_check {
  padding-left: 15px !important;
}

/* modulo de atencion */

.circulo_form {
  border-radius: 50%;
  color: #fff;
  height: 79px;
  margin: 0 auto;
  padding: 0 !important;
  width: 79px;
}

.circulo_form_7fd0d9 {
  background-color: #7fd0d9;
}

.llamar_siguiente {
  position: absolute;
  text-align: left;
  top: 0;
  right: 105px;
}

.datos_turno {
  border-bottom: 2px solid #7fd0d9;
}

.datos_turno_atendido {
  border-bottom: 5px solid #7fd0d9;
  margin-bottom: 1px;
  margin-top: -31px;
}

.fondo_turno {
  background-color: #e5edf0;
}

/* Tabs */
.nav-tabs{
  background-color: #e5edf0;
  border: 0;
  li{
    margin-bottom: 0;
    &.active a, &:hover a, &:focus a{
      color: #7fd0d9 !important;
      background-color: #ffffff !important;
    }
    a{
      border-radius:0 ;
      border: 0 !important;
      color: #687a8b;
      cursor: pointer;
      margin-right: 0;
      &:hover, &:focus{
        background-color: transparent;
      }
    }
  }
}

.tab_predeterminado {
  background-color: #e5edf0;
  padding-bottom: 1px;
  ul{
    border: 0;
    li {
      &.active a {
        background-color: #fff;
        color: #7fd0d9 !important;
      }
      a {
        &:hover, &:focus {
          background-color: #fff;
          color: #7fd0d9 !important;
        }
      }
    }
    a {
      background-color: #e5edf0;
      border: 0 !important;
      border-radius: 0 !important;
      color: #8293a3;
      margin: 0 !important;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.tab_estilos {
  margin-top: 241px;
  a {
    padding: 10px 13px !important;
  }
}

.imagen_estilos {
  margin-top: -282px;
}

/* jerarquias - importar datos */

.circulo_form_7fd0d9 {
  background-color: #dae4e8;
}

.llamar_search {
  right: 80px !important;
}

.btn_importar_1, .btn_importar_2 {
  color: #fff;
  border-radius: 10px;
  padding: 10px 0 !important;
  position: relative;
}

.btn_importar_1 i, .btn_importar_2 i {
  position: absolute;
  top: 15px;
}

.btn_importar_1 {
  background-color: #7fd0d9;
  i {
    right: 20px;
  }
}

.btn_importar_2 {
  background-color: #ed7d7d;
  i {
    left: 20px;
  }
}

.jerarquia_paso_2b {
  button {
    position: relative;
  }
  .red, .blue {
    border-radius: 10px;
    color: #fff;
  }
  .red {
    background-color: #ed7d7d;
    margin-right: 10px;
    i {
      left: 10px;
      position: absolute;
      top: 12px;
    }
  }
  .blue {
    background-color: #7fd0d9;
    i {
      right: 10px;
      position: absolute;
      top: 12px;
    }
  }
}

/* estilos consola */

.consola_cabecera {
  background-color: #e5edf0;
  padding: 10px;
  .consola_cabecera_imagenes {
    overflow:hidden;
    background-color: #fff;
  }
}

/* modal bienvenida */

.alto_bienvenida {
  height: 240px;
  .btn_bienvenida {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.modal_estilos_2 .modal-body, .modal_estilos_6 .modal-body {
  max-height: none;
}

/* estilos videos */

.tab_estilos_videos {
  margin-top: 225px;
}

.imagen_estilos_videos {
  margin-top: -267px;
}

.modal-formatos {
  .modal-dialog {
    top: 0 !important;
  }
  .alto_bienvenida {
    height: 260px;
  }
}

/* estilos mobile */

.borde_logo_mobile {
  background-color: #f3f4f8;
  border: 1px solid #e3e6eb;
  margin-right: 10px;
  padding: 2px;
}

/* alert */
.alertas{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transition: all linear 2s;
}
.alertas.ng-hide {
  opacity: 0;
}
/* minicolors */
.minicolors-swatch{
  border-radius: 0 !important;
  width: 22px !important;
  height: 17px !important;
}