<div ng-include="global.navHead"></div>
<div ng-include="global.navUrl"></div>
<div ng-include="global.loading"></div>

<div class="franja_top"></div>
<div class="contenido">

	<div class="container-fluid p_0">
		<div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
			<div class="row" ng-show="showCargando">
				<h1 class="fs_33 h_37_ThinC mt_30">
					¿Qué <span class="fc_2bb673 h_47_LightC">Peticiones de acceso</span> has recibido?
				</h1>
				<div class="col-lg-11 col-md-11 mt_10">
					<div class="borde_total">
						<div class="row">
							<div class="col-lg-12 col-md-12">

								<table class="table table-responsive table-default table-select mt_30">
									<thead class="h_Cond">
										<tr>
											<th class="borde_cabecera_tabla_azul"></th>
											<th class="borde_cabecera_tabla_azul pl_0">Nombre del usuario</th>
											<th class="borde_cabecera_tabla fc_7fd0d9">Rol asignado</th>
											<th class="borde_cabecera_tabla fc_7fd0d9">Locales</th>
											<th class="borde_cabecera_tabla"></th>
										</tr>
									</thead>
									<tbody class="h_47_LightC fc_687a8b">
										<tr ng-click="showPeticionesDeAcceso()">											
											<td></td>
											<td class="fs_15 pl_0">Juan Perez<span class="fs_13 pl_10"></span></td>
											<td class="fs_15">Planificador</td>
											<td class="fs_15">Todos</td>
											<td></td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15 pl_0">Enrique Casas<span class="fs_13 pl_10"></span></td>
											<td class="fs_15">Supervisor</td>
											<td class="fs_15">Javier Prado, Angamos, Benavides</td>
											<td class="text-center w_40">
												<i class="fc_ed7d7d fa fa-times fs_15 none"></i>
											</td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15 pl_0">Inés Rodriguez<span class="fs_13 pl_10"></span></td>
											<td class="fs_15">Atención</td>
											<td class="fs_15">Javier Prado</td>
											<td></td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15 pl_0">Juan Pablo Montero<span class="fs_13 pl_10"></span></td>
											<td class="fs_15">Dirección</td>
											<td class="fs_15">Todos</td>
											<td></td>
										</tr>
										<tr>											
											<td></td>
											<td class="fs_15 pl_0">Alicia Cardenas<span class="fs_13 pl_10"></span></td>
											<td class="fs_15">Supervisor de saturación</td>
											<td class="fs_15">Todos</td>
											<td></td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
						<!--@include('configuracion.modales.peticiones_de_acceso')-->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="franja_bottom"></div>
<!-- alertas -->
<div class="alert alertas" ng-class="alerta" ng-repeat="alert in alerts" ng-show='showAlert'">
	{{alert.mensaje}}
</div>