<div ng-include="global.navHead"></div>
<div ng-include="global.navUrl"></div>
<div ng-include="global.loading"></div>

<div class="franja_top"></div>
<div class="contenido">

	<div class="container-fluid p_0">
		<div class="col-lg-9 col-md-9 col-lg-offset-3 col-md-offset-3">
			<div class="row" ng-show="showCargando">
				<h1 class="fs_33 h_37_ThinC mt_30">
					¿Qué <span class="fc_2bb673 h_47_LightC">Usuarios</span> necesita tu organización?
				</h1>
				<div class="col-lg-11 col-md-11 mt_10">
					<div class="borde_total">
						<div class="pull-right">
							<button type="button" class="button" ng-click="new()">
								<span class="h_47_LightC fs_15 fc_687a8b agregar">Agregar usuario</span>
								<i class="fa fa-plus-circle fc_2bb673 fs_23"></i>
							</button>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12">
								
								<div class="col-lg-12 col-md-12 col-lg-offset-1 col-md-offset-1 h_47_LightC fs_15 mb_20">
									<span>Local Asignado </span>
									<select name="local" id="local" class="input_gris w_150">
										<option value="0">Todos</option>
										<option value="0">LOCAL A</option>
										<option value="0">LOCAL B</option>
									</select>
								</div>
								<table class="table table-responsive table-select m_0 tabla_cabecera">
									<thead class="h_Cond">
										<tr>
											<th width="5%" class="borde_cabecera_tabla_azul"></th>
											<th width="30%" class="borde_cabecera_tabla_azul pl_0">Nombre del usuario</th>
											<th width="30%" class="borde_cabecera_tabla fc_7fd0d9">Rol asignado</th>
											<th width="30%" class="borde_cabecera_tabla fc_7fd0d9">Locales</th>
											<th width="5%" class="borde_cabecera_tabla"></th>
										</tr>
									</thead>
								</table>
								<div class="tabla_detalle tabla_detalle_usuarios">
									<table class="table table-responsive table-select" 
									ng-show="showCargando">
										<tbody class="h_47_LightC fc_687a8b">
											<tr ng-repeat="(key, user) in usuarios">
												<td width="5%" 
													ng-click="edit(user.id)"></td>
												<td width="30%" class="fs_15 pl_0"
													ng-click="edit(user.id)">
													{{user.nombre}} {{user.apellido}}
													<span class="fs_13 pl_10" ng-show="user.id==3">Qmatiq</span>
												</td>
												<td width="30%" class="fs_15"
													ng-click="edit(user.id)">{{user.rol.nombre}}</td>
												<td width="30%" class="fs_15"
													ng-click="edit(user.id)">{{user.locales}}</td>
												<td width="5%" class="text-center">
													<i class="fa fa-lock fc_596a7a fs_15"
														ng-show="user.id==3"></i>
													<i class="fc_ed7d7d fa fa-times fs_15 none"
														ng-hide="user.id==3" ng-click="delete(key,user.id)"></i>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="franja_bottom"></div>